body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container, .section {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav {
    position: sticky;
    background: rgba(0, 0, 0, 1);
    outline: #fff;
    z-index: 1000;
    top: 0;
    color: #fff;
    text-align: center;
    padding: 0 0;
    height: 4%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin: 0; /* Remove default margin for better alignment */
}

.social-icons img {
    width: 20px;
    margin-left: 10px;
    margin-top: -15px; /* Adjust the top margin as needed */
    transform: translateY(-8px);
}


.background-video, .front-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.front-video {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    top: 25vh;
    left: 45vw;
}

#section3 iframe {
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 20vh;
    left: 25%; /* Adjust the left position as needed */
    transform: translateX(40%);
}

.overlay-text {
    position: absolute;
    top: 20vh;
    left: 10vw; /* Align to the left */
    width: 30%;
    height: 60%;
    background-color: rgba(0, 0, 0, 1); /* semi-transparent black */
    color: #fff;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.overlay-text h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.overlay-text.section1 {
    top: 20vh;
    left: 10vw;
}

.overlay-text.section2 {
    top: 20vh;
    left: 10vw;
}

button#scrollBtn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

button#scrollUpBtn {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: none;
    
    
    
}